<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Find a sub
    </h2>

    <form action="/insert_sub_request" method="post">
      <div class="form-group">
        <label for="sender_id_box"></label>
        <input type="hidden" id="sender_id_box" name="query_sender_id" class="form-control" value=<%@user.id%>>
      </div>

      <div class="form-group">
        <label for="league_environment_box">League environment</label>
        <select type="dropdown" id="league_environment_box" name="query_league_environment" class="form-control">
          <option disabled selected value> -- select an option -- </option>
          <option value="indoor">Indoor</option>
          <option value="sand">Sand</option>
          <option value="grass">Grass</option>
        </select>
      </div>

      <div class="form-group">
        <label for="league_format_box">League format</label>
        <select type="dropdown" id="league_format_box" name="query_league_format" class="form-control">
          <option disabled selected value> -- select an option -- </option>
          <option value="sixes">6s</option>
          <option value="fours">4s</option>
          <option value="triples">Triples</option>
          <option value="doubles">Doubles</option>
        </select>
      </div>

      <div class="form-group">
        <label for="league_gender_box">League gender</label>
        <select type="dropdown" id="league_gender_box" name="query_league_gender" class="form-control">
          <option disabled selected value> -- select an option -- </option>
          <option value="womens">Womens</option>
          <option value="mens">Mens</option>
          <option value="coed">Coed</option>
        </select>
      </div>

      <div class="form-group">
        <label for="league_level_box">League level</label>
        <select type="dropdown" id="league_level_box" name="query_league_level" class="form-control">
          <option disabled selected value> -- select an option -- </option>
          <option value="competitive">Competitive</option>
          <option value="upper_intermediate">Upper Intermediate</option>
          <option value="intermediate">Intermediate</option>
          <option value="recreational">Recreational</option>
        </select>
      </div>

      <div>
       <table border="1">
          <tr>
            <td>Competitve</td>
            <td>For players competing at the top non-professional levels. Can select AA, A, BB, B.</td>
          </tr>
          <tr>
            <td>Upper Intermediate</td>
            <td>For players with developed skills.</td>
          </tr>
          <tr>
            <td>Intermediate</td>
            <td>For players building their skills and looking for some competition.</td>
          </tr>
          <tr>
            <td>Recreational</td>
            <td>For players looking to learn the sport or playing for fun.</td>
          </tr>
       </table>
       </div>

     <%if query_league_level == "competitive"%>
        <div class="form-group">
          <label for="competition_level_box">Competition level</label>
          <select type="dropdown" id="competition_level_box" name="query_competition_level" class="form-control">
            <option></option>
            <option value="aa">AA</option>
            <option value="a">A</option>
            <option value="bb">BB</option>
            <option value="b">B</option>
          </select>
        </div>
      <%end%>

      <%if query_league_level == "recreational"%>
        <input type="hidden" id="position_box" name="query_position" class="form-control" value="player">
      <%else%>
        <div class="form-group">
          <label for="position_box">Position</label>
          <select type="dropdown" id="position_box" name="query_position" class="form-control">
            <%if query_league_level == "intermediate"%>
              <option value="player">Any player</option>
              <option value="setter">Setter</option>
            <%else%>
              <option value="setter">Setter</option>
              <option value="outside">Outside hitter</option>
              <option value="rightside">Rightside hitter</option>
              <option value="middle">Middle hitter</option>
              <option value="libero">Libero/defense</option>
            <%end%>
          </select>
        </div>
      <%end%>


      <div class="form-group">
        <label for="game_location_box">Game location</label>
        <textarea id="game_location_box" name="query_game_location" class="form-control" rows="3"></textarea>
      </div>

      <div class="form-group">
        <label for="game_datetime_box">Game datetime</label>
        <input type="datetime-local" id="game_datetime_box" name="query_game_datetime" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create sub request
      </button>
    </form>
  </div>
</div>
