<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Find a sub
    </h2>

    <form action="/insert_sub_request" method="post">
      <div class="form-group">
        <label for="sender_id_box"></label>
        <input type="hidden" id="sender_id_box" name="query_sender_id" class="form-control" value= session.fetch(:user_id)>
      </div>

      <div class="form-group">
        <label for="league_level_id_box"></label>
        <input type="hidden" id="league_level_id_box" name="query_league_level" class="form-control" value= <%=@competition_level%>>
      </div>

      <div class="form-group">
        <label for="league_environment_box">What's the environment?</label>
        <select type="dropdown" id="league_environment_box" name="query_league_environment" class="form-control">
          <option disabled selected value> -- select an option -- </option>
          <option value="indoor">Indoor</option>
          <option value="sand">Sand</option>
          <option value="grass">Grass</option>
        </select>
      </div>

      <div class="form-group">
        <label for="league_format_box">What's the format?</label>
        <select type="dropdown" id="league_format_box" name="query_league_format" class="form-control">
          <option disabled selected value> -- select an option -- </option>
          <option value="sixes">6s</option>
          <option value="fours">4s</option>
          <option value="triples">Triples</option>
          <option value="doubles">Doubles</option>
        </select>
      </div>

      <div class="form-group">
        <label for="league_gender_box">Coed, Womens, or Mens?</label>
        <select type="dropdown" id="league_gender_box" name="query_league_gender" class="form-control">
          <option disabled selected value> -- select an option -- </option>
          <option value="coed">Coed</option>
          <option value="womens">Womens</option>
          <option value="mens">Mens</option>
        </select>
      </div>

     <%if @competition_level == "competitive"%>
        <div class="form-group">
          <label for="competition_level_box">What's the level of play? (Optional)</label>
          <select type="dropdown" id="competition_level_box" name="query_competition_level" class="form-control">
            <option></option>
            <option value="aa">AA</option>
            <option value="a">A</option>
            <option value="bb">BB</option>
            <option value="b">B</option>
          </select>
        </div>
      <%end%>

      <%if @competition_level == "recreational"%>
        <input type="hidden" id="position_box" name="query_position" class="form-control" value="player">
      <%else%>
        <div class="form-group">
          <label for="position_box">What position are you looking for?</label>
          <select type="dropdown" id="position_box" name="query_position" class="form-control">
            <%if @competition_level == "intermediate"%>
              <option value="player">Any player</option>
              <option value="setter">Setter</option>
            <%else%>
              <option value="setter">Setter</option>
              <option value="outside">Outside hitter</option>
              <option value="rightside">Rightside hitter</option>
              <option value="middle">Middle hitter</option>
              <option value="libero">Libero/defense</option>
            <%end%>
          </select>
        </div>
      <%end%>


      <div class="form-group">
        <label for="game_location_box">Where are you playing?</label>
        <textarea id="game_location_box" name="query_game_location" class="form-control" rows="3"></textarea>
      </div>

      <div class="form-group">
        <label for="game_datetime_box">When's the game?</label>
        <input type="datetime-local" id="game_datetime_box" name="query_game_datetime" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create sub request
      </button>
    </form>
  </div>
</div>
