<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Find a sub
    </h2>

    <form action="/select_competition_level" method="post">
      <div class="form-group">
        <label for="sender_id_box"></label>
        <input type="hidden" id="sender_id_box" name="query_sender_id" class="form-control" value=<%@user.id%>>
      </div>

      <div class="form-group">
        <label for="league_level_box">League level</label>
        <select type="dropdown" id="league_level_box" name="query_league_level" class="form-control">
          <option disabled selected value> -- select an option -- </option>
          <option value="competitive">Competitive</option>
          <option value="upper_intermediate">Upper Intermediate</option>
          <option value="intermediate">Intermediate</option>
          <option value="recreational">Recreational</option>
        </select>
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Confirm competition level
      </button>
    </form>

    <p></p>

      <div>
       <table border="1">
          <tr>
            <td>Competitve</td>
            <td>For players competing at the top non-professional levels. Can select AA, A, BB, B.</td>
          </tr>
          <tr>
            <td>Upper Intermediate</td>
            <td>For players with developed skills.</td>
          </tr>
          <tr>
            <td>Intermediate</td>
            <td>For players building their skills and looking for some competition.</td>
          </tr>
          <tr>
            <td>Recreational</td>
            <td>For players looking to learn the sport or playing for fun.</td>
          </tr>
       </table>
       </div>

  </div>
</div>


