<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Find a sub
    </h2>

    <form action="/create_sub_request" method="post">

      <div class="form-group">
        <label for="league_gender_box">Coed, Womens, or Mens?</label>
        <select type="dropdown" id="league_gender_box" name="query_league_gender" class="form-control">
          <option disabled selected value> -- select an option -- </option>
          <option value="coed">Coed</option>
          <option value="womens">Womens</option>
          <option value="mens">Mens</option>
        </select>
      </div>

      <div class="form-group">
        <label for="league_level_box">What's the competition level?</label>
        <select type="dropdown" id="league_level_box" name="the_league_level" class="form-control">
          <option disabled selected value> -- select an option -- </option>
          <option value="competitive">Competitive</option>
          <option value="upper intermediate">Upper Intermediate</option>
          <option value="intermediate">Intermediate</option>
          <option value="recreational">Recreational</option>
        </select>
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Continue
      </button>
    </form>

    <p></p>

      <div>
       <table border="1">

          <th>Competition level</th>
          <th>Description</th>
          <th>Positions</th>

          <tr>
            <td>Competitve</td>
            <td>For players competing at the top non-professional levels. Can select AA, A, BB, B.</td>
            <td>Setter, Outside hitter, Rightside hitter, Middle hitter, Libero/defense</td>
          </tr>
          <tr>
            <td>Upper Intermediate</td>
            <td>For players with developed skills.</td>
            <td>Setter, Outside hitter, Rightside hitter, Middle hitter, Libero/defense</td>
          </tr>
          <tr>
            <td>Intermediate</td>
            <td>For players building their skills and looking for some competition.</td>
            <td>Setter, Player</td>
          </tr>
          <tr>
            <td>Recreational</td>
            <td>For players looking to learn the sport or playing for fun.</td>
            <td>Player</td>
          </tr>
       </table>
       </div>

  </div>
</div>


