<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Find a sub
    </h2>

    <form action="/insert_sub_request" method="post">
      <div class="form-group">
        <label for="sender_id_box"></label>
        <input type="hidden" id="sender_id_box" name="query_sender_id" class="form-control" value=<%@user.id%>>
      </div>

      <div class="form-group">
        <label for="league_environment_box">League environment</label>
        <select type="dropdown" id="league_environment_box" name="query_league_environment" class="form-control">
          <option disabled selected value> -- select an option -- </option>
          <option value="indoor">Indoor</option>
          <option value="sand">Sand</option>
          <option value="grass">Grass</option>
        </select>
      </div>

      <div class="form-group">
        <label for="league_format_box">League format</label>
        <input type="text" id="league_format_box" name="query_league_format" class="form-control">
      </div>

      <div class="form-group">
        <label for="league_gender_box">League genderd</label>
        <input type="text" id="league_gender_box" name="query_league_gender" class="form-control">
      </div>

      <div class="form-group">
        <label for="league_level_box">League leveld</label>
        <input type="text" id="league_level_box" name="query_league_level" class="form-control">
      </div>

      <div class="form-group">
        <label for="competition_level_box">Competition leveld</label>
        <input type="text" id="competition_level_box" name="query_competition_level" class="form-control">
      </div>

      <div class="form-group">
        <label for="position_box">Positiond</label>
        <input type="text" id="position_box" name="query_position" class="form-control">
      </div>

      <div class="form-group">
        <label for="game_location_box">Game locationd</label>
        <textarea id="game_location_box" name="query_game_location" class="form-control" rows="3"></textarea>
      </div>

      <div class="form-group">
        <label for="game_datetime_box">Game datetime</label>
        <input type="datetime-local" id="game_datetime_box" name="query_game_datetime" class="form-control">
      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create sub request
      </button>
    </form>
  </div>
</div>
