
<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h2>
      Add a new playing profile
    </h2>

    <form action="/insert_playing_profile" method="post">
      <div class="form-group"  style = "display:none;">
        <label for="user_id_box"></label>
        <input type="hidden" id="user_id_box" name="query_user_id" class="form-control" value = <%=@user.id%>>
      </div>

      <div class="form-group"  style = "display:none;">
        <label for="user_gender_box"></label>
        <input type="hidden" id="user_gender_box" name="query_user_gender" class="form-control" value = <%=@user.coed_gender%>>
      </div>

      <h5>Environments</h5>

      <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="format_indoor_box" name="query_format_indoor" value="1">
        <label class="custom-control-label" for="format_indoor_box">Indoor</label>
      </div>

      <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="format_grass_box" name="query_format_grass" value="1">

        <label class="custom-control-label" for="format_grass_box">Grass</label>
      </div>

      <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="format_sand_box" name="query_format_sand" value="1">

        <label class="custom-control-label" for="format_sand_box">Sand</label>
      </div>

      <h5>Formats</h5>

      <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="players_six_box" name="query_players_six" value="1">
        <label class="custom-control-label" for="players_six_box">6s</label>
      </div>

      <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="players_four_box" name="query_players_four" value="1">
        <label class="custom-control-label" for="players_four_box">4s</label>
      </div>

      <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="players_three_box" name="query_players_three" value="1">
        <label class="custom-control-label" for="players_three_box">Triples</label>
      </div>

      <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="players_two_box" name="query_players_two" value="1">
        <label class="custom-control-label" for="players_two_box">Doubles</label>
      </div>

      <h5>League gender</h5>

      <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="league_gender_womens_box" name="query_league_gender_womens" value="1">
        <label class="custom-control-label" for="league_gender_womens_box">Womens</label>
      </div>

      <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="league_gender_mens_box" name="query_league_gender_mens" value="1">
        <label class="custom-control-label" for="league_gender_mens_box">Mens</label>
      </div>

      <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="league_gender_coed_box" name="query_league_gender_coed" value="1">
        <label class="custom-control-label" for="league_gender_coed_box">Coed</label>
      </div>

      <h5>League level</h5>

      <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="level_recreational_box" name="query_level_recreational" value="1">
        <label class="custom-control-label" for="level_recreational_box">Recreational</label>
      </div>

      <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="level_intermediate_box" name="query_level_intermediate" value="1">
        <label class="custom-control-label" for="level_intermediate_box">Intermediate</label>
      </div>

      <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="level_upper_intermediate_box" name="query_level_upper_intermediate" value="1">
        <label class="custom-control-label" for="level_upper_intermediate_box">Upper intermediate</label>
      </div>

      <div class="custom-control custom-checkbox mb-3">
        <input type="checkbox" class="custom-control-input" id="level_competitive_box" name="query_level_competitive" value="1">
        <label class="custom-control-label" for="level_competitive_box">Competitive</label>
      </div>

      <div class="col-md-20 offset-md-1">

        <h6>For Competitive level only (optional selection)</h6>

        <div class="custom-control custom-checkbox mb-3">
          <input type="checkbox" class="custom-control-input" id="comp_level_aa_box" name="query_comp_level_aa" value="1">
          <label class="custom-control-label" for="comp_level_aa_box">AA</label>
        </div>

        <div class="custom-control custom-checkbox mb-3">
          <input type="checkbox" class="custom-control-input" id="comp_level_a_box" name="query_comp_level_a" value="1">
          <label class="custom-control-label" for="comp_level_a_box">A</label>
        </div>

        <div class="custom-control custom-checkbox mb-3">
          <input type="checkbox" class="custom-control-input" id="comp_level_bb_box" name="query_comp_level_bb" value="1">
          <label class="custom-control-label" for="comp_level_bb_box">BB</label>
        </div>

        <div class="custom-control custom-checkbox mb-3">
          <input type="checkbox" class="custom-control-input" id="comp_level_b_box" name="query_comp_level_b" value="1">
          <label class="custom-control-label" for="comp_level_b_box">B</label>
        </div>

      </div>

      <h5>Position</h5>

      <div class="col-md-20 offset-md-1">

        <h6>For Recreational level: not applicable</h6>

        <h6>For Intermediate level:</h6>

          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="position_player_box" name="query_position_player" value="1">
            <label class="custom-control-label" for="position_player_box">Any player</label>
          </div>
          
          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="position_setter_box" name="query_position_setter" value="1">
            <label class="custom-control-label" for="position_setter_box">Setter</label>
          </div>

          <h6>For Upper intermediate and Competitve levels:</h6>

          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="position_setter_box" name="query_position_setter" value="1">
            <label class="custom-control-label" for="position_setter_box">Setter</label>
          </div>

          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="position_outside_hitter_box" name="query_position_outside_hitter" value="1">
            <label class="custom-control-label" for="position_outside_hitter_box">Outside hitter</label>
          </div>

          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="position_rightside_hitter_box" name="query_position_rightside_hitter" value="1">
            <label class="custom-control-label" for="position_rightside_hitter_box">Rightside hitter</label>
          </div>

          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="position_middle_hitter_box" name="query_position_middle_hitter" value="1">
            <label class="custom-control-label" for="position_middle_hitter_box">Middle hitter</label>
          </div>

          <div class="custom-control custom-checkbox mb-3">
            <input type="checkbox" class="custom-control-input" id="position_libero_box" name="query_position_libero" value="1">
            <label class="custom-control-label" for="position_libero_box">Libero/defense</label>
          </div>

      </div>

      <button class="btn btn-block btn-outline-secondary">
        Create playing profile
      </button>
    </form>
  </div>
</div>

